In [2]:
import psycopg2
from sqlalchemy import create_engine

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame( {'氏名': ['高橋', '伊藤', '渡辺', '加藤'],
                   '出席番号' : ['a001', 'a002', 'a005', 'a006'],
                   '国語' : [5, 6, 7, 8]}).set_index('氏名')

In [5]:
df

    出席番号  国語
氏名
高橋  a001   5
伊藤  a002   6
渡辺  a005   7
加藤  a006   8

In [6]:
connection_config = {
    'user': 'kengineer',
    'password': 'Diru4690.',
    'host': 'localhost',
    'port': '5432',
    'database': 'mydb'
}

In [7]:
engine = create_engine('postgresql://{user}:{password}@{host}:{port}/{database}'
                      .format(**connection_config))

In [9]:
df.to_sql('test_table01', con=engine, if_exists='replace')